In-Life.html>

/* Pic of Mac Miller */

.Pic-1 {
    size-adjust: 40px;
    width: 40px;
    position: "clear: right";
    display: block;
    margin-left: auto;
  }

  /* For all paragraphs */

  p{
    font-size:large;
    font:Chalkduster, fantasy;
  }

