Index.html>

/* Image of Mac Miller */
img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        border: 25px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

/* Mac Miller */
h1 {
    text-align:center;
    color: skyblue;
    font:Courier, monospace ;
    font-size:50px 
    }

/* One of the greatest musicians alive.*/
h2 {
    text-align:center;
    color: skyblue;
    font-size:30px;
    font:Courier, monospace;
    }

h3{
    text-align:center;
    color: skyblue;
    font-size: 200px;
}

/* The code below aligns all the sections horizontally on the bottom. */
.section-container {
    display:flex;
    justify-content:space-between;
}

/* The code below a solid black border to section and puts space between them (the margin). */
.section {
    border: 25px rgb(156, 210, 255) solid;
    margin:25px;
}

.Death,
.Life {
    color-scheme: ;
}